<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Images</title>
</head>
<body>
<table>
    <thead>
    <th>image</th>
    <th>date</th>
    <th>view button</th>
    <th>nick-name</th>


    </thead>
    <tbody>
    <tr th:each="image : ${images}">
        <td><img th:src="@{/images/{id}(id=${image.id})}" style="width:256px;height:256px;"/></td>
        <td th:text="${image.name}"></td>
        <td><a th:href="@{/view-images/{id}(id=${image.id})}">
            <button>view</button>
        </a></td>
        <td><a th:href="@{/edit-images/{id}(id=${image.id})}">
            <button>edit</button>
        </a>
        </td>
        <td><input type="text" th:id="${image.id}" name="nickName" th:value="${image.nickName}">
            <button th:data-parameter1="${image.id}" th:onclick="patchNickname(this.getAttribute('data-parameter1'));">
                submit
            </button>
        </td>
    </tr>
    </tbody>


</table>

<script>
    function patchNickname(id){
  var lv_nickname = document.getElementById(id).value;
  fetch("/images/" + id + "/nickName/" + lv_nickname, {
      method: 'put',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    }
  }).then((response) => {
    return respons.json()
  }).then((res) => {
	if (res.status === 200) {
      console.log("Succesfully posted!");
	}
  }).catch((error) => {
	  console.log(error);
  });
};





</script>
</body>
</html>
